<ion-content>
  <div style="height: 100%; justify-content: center; align-items: center; display: flex;">
    <ion-row  class="ion-align-items-center ion-justify-content-center">
      <ion-col size="8">
        <ion-img
            src="/assets/images/logoWithText.png"
            alt="logo coink"
          ></ion-img>
      </ion-col>
      <ion-col size="10">
        <ion-text color="primary">
          <h1 style="text-align: center;">LA ALCANCIA QUE SIEMPRE TE ACOMPAÑA</h1>
        </ion-text>
      </ion-col>
      <ion-col size="12" style="margin-top: 5rem;">
        <ion-row>
          <ion-col size="12">
            <ion-button color="primary" [routerLink]="['/singup/phone']" expand="block">Resgistrate</ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button color="secondary" expand="block">Ingresa</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>


