<ion-content [fullscreen]="true"  color="light">
  <h3 style="color: #004B40; font-size: 22px; margin-left: 1rem;">Estos son tus datos:</h3>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>Numero de telefono: {{ dataUser?.phone}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Numero de documento: {{ dataUser?.document}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de expedicion: {{ dataUser?.dateExpedition}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de nacimiento: {{ dataUser?.dateBirth}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Genero: {{ dataUser?.gender}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Correo electronico: {{ dataUser?.email}}</ion-label>
    </ion-item>
  </ion-list>

  <p-dialog  [(visible)]="visible" [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
   <div style="display: flex; justify-content: space-around; align-items: center; flex-direction: column;">
    <ion-img
    src="/assets/images/successimage.png"
    alt="logo coink succes"
  ></ion-img>
  <h3 style="color: #004B40; font-size: 22px;">!Bienvenido a Coink!</h3>
    <p class="m-0" style="text-align: center;">
      ¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces a ahorrar!
    </p>
    <ion-button color="primary" (click)="visible = false" expand="block">Continuar</ion-button>
  </div>
</p-dialog>
</ion-content>
